---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/schultyy/pulp/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1408896568'
      Etag:
      - '"8f89fab5dac92faaaa662d7d5214c96b"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/schultyy/pulp/issues/4","labels_url":"https://api.github.com/repos/schultyy/pulp/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/schultyy/pulp/issues/4/comments","events_url":"https://api.github.com/repos/schultyy/pulp/issues/4/events","html_url":"https://github.com/schultyy/pulp/issues/4","id":41007643,"number":4,"title":"The
        test issue 54","user":{"login":"schultyy","id":235808,"avatar_url":"https://avatars.githubusercontent.com/u/235808?v=2","gravatar_id":"8fb4c4eea4580647ac37881cec8606aa","url":"https://api.github.com/users/schultyy","html_url":"https://github.com/schultyy","followers_url":"https://api.github.com/users/schultyy/followers","following_url":"https://api.github.com/users/schultyy/following{/other_user}","gists_url":"https://api.github.com/users/schultyy/gists{/gist_id}","starred_url":"https://api.github.com/users/schultyy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/schultyy/subscriptions","organizations_url":"https://api.github.com/users/schultyy/orgs","repos_url":"https://api.github.com/users/schultyy/repos","events_url":"https://api.github.com/users/schultyy/events{/privacy}","received_events_url":"https://api.github.com/users/schultyy/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2014-08-24T12:41:28Z","updated_at":"2014-08-24T12:41:28Z","closed_at":null,"body":"gedoens
        geodnes\n"},{"url":"https://api.github.com/repos/schultyy/pulp/issues/3","labels_url":"https://api.github.com/repos/schultyy/pulp/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/schultyy/pulp/issues/3/comments","events_url":"https://api.github.com/repos/schultyy/pulp/issues/3/events","html_url":"https://github.com/schultyy/pulp/issues/3","id":41007611,"number":3,"title":"The
        test issue","user":{"login":"schultyy","id":235808,"avatar_url":[...]
